<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorenzos Lottozahlen</title>
</head>
<body>
    <h1>Lorenzos Lottozahlen</h1>

    <h2>Mittwochs-/Samstagslotto</h2>
    {{ lotto }}
    <h2>Eurojackpot</h2>
    {{ euro5 }}
    {{ euro2 }}
</body>
</html>